@tailwind base;
@tailwind components;
@tailwind utilities;

* { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

:root { --panel: rgba(11,18,34,0.6); --nav: rgba(15,23,42,0.8); }

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
